*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 206, 206);
    font-family: "Segoe UI","Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";
    
}

.con{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 80%;
    max-width: 500px;
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 440px;
    width: calc(100% - 40px);
    padding: 44px;
    margin-bottom: 28px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.2);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,.2);
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
    min-width: 320px;
    min-height: 338px;
    overflow: hidden;
}


.con .img{
    align-items: start;
}

.con img{
    width: 50%;
    
}

.con h1{
    font-weight: 400;
    font-size: 25px;
    margin-top: 20px;
    position: relative;
}

.name{
    align-items: center;
    padding-left: 10px;
    margin-top: 10px;
}

.log{
    width: 200%;
}

#password{
    margin-top: 10px;
    border: none;
    border-bottom: solid rgb(0, 0, 0) 1px;
    height: 35px;
    width: 80%;
    font-size: large;
}

#password:focus{
    outline: none;
}

#password::placeholder{
    color: rgb(167, 167, 167);
    font-size: 15px;
}

.a{
    margin-top: 20px;
    text-decoration: none;
    font-size: small;
    padding-top: 20px;
}

.b{
    width: 100%;
}

.btn{
    margin-top: 20px;
    padding: 4px 12px 4px 12px;
    background-color: #005da6;
    color: #fff;
    float: right;
    min-height: 32px;
    border: none;
    min-width: 108px;
    line-height: normal;
    cursor: pointer;
}

.message-content{
    padding-left: 10px;
}

@media (max-width: 860px) {
    .con{
        width: 100%;
        max-width: 100%;
        height: 100vh;
        padding: 60px;
        margin-top: 0;
    }
}