*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
}

.nav1{
    background-color: white;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    background-color: white;
}

a{
    text-decoration: none;
    color: black;
}

    .links{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

a:hover{
    text-decoration: underline;
}

.img img{
    width: 100px;
}

nav img{
    padding: 16px 6px 16px 10px;
    float: left;
    height: 100%;
    margin-top: 1px;
    width: 137px;
    outline-offset: -2px;
    padding-right: 20px;
    border-right: 2px solid black;
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.li{
    padding-left: 20px;
    display: flex;
    justify-content: baseline;
    justify-content: last baseline;
}

.buy{
    margin-left: 10px;
    padding: 5px;
    border: 1px black solid;
    border-radius: 5px;
}



.fa-user-plus{
    border: solid 1px gray;
    color: gray;
    border-radius: 50%;
    padding: 7PX;
}

.fa-bars{
    border: none;
    display: none;
}

.content{
    height: 80vh;
    background-image: url(./image/hero-rebrand-desktop-5dbef93a27.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: SegoeUI-SemiBold,Helvetica,Arial,sans-serif;
    margin-bottom: 20px
}



.message{
    height: 60px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    justify-content: center;
    height: 64px;
    background: #D83B01;
    padding: 8px;
    font-size: 17px;
}

.message a{
    color: aliceblue;
    padding-left: 20px;
    font-size: large;

}

.content h1{
    font-family: SegoeUI-SemiBold,Helvetica,Arial,sans-serif;
    font-weight: 540;
    margin-bottom: 20px;
    font-size: 48px;
    position: relative;
}

.text{
    background: linear-gradient(0.25turn, #e2e8eb, #ebf8e100, #f69c3c00);
    height: 80vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 150px;
}

.sign{
    padding: 10px;
}

.btt{
    border: solid 5px #D83B01;
    background-color: #D83B01;
    position: relative;
    color: #fff;
    margin-bottom: 20px;
    margin-right: 20px;
    height: 40px;
    white-space: nowrap;
    display: inline-block;
    width: 200px;
    height: 40px;
    border-radius: 7px;
    font-size: large;
    font-family: SegoeUI-SemiBold,Helvetica,Arial,sans-serif;
    transition: all .05s ease;
}

.btt:hover{
    height: 38px;
    border: none;
    cursor: pointer;
    background-color:rgb(216, 26, 1) ;
}

.content2{
    height: 50vh;
    background-image: linear-gradient(180deg,#FFF4ED 100%,#cc5656 10%);
}

form{
    display: flex;
    flex-direction: column;
}

.email{
    display: none; 
    transition: all .5s ease-in;
}

input{
    padding: 10px;
    margin: 10px;
    width: 90%;
    max-width: 300px;
}

.open{
    display: flex;
    display: flex;
    flex-direction: column;
    transition: all .5s ease-in;
}


.btn{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.tabs{
    padding: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #F9DBD0;
    border: none;
    color: #792000;    
    border-radius: 20px 20px 0 0;
    box-shadow: #fff 0 8px 0, rgba(0,0,0,.14) 0 0 8px;
    font-size: small;
    height: 47px;
}

.tabs h2{
    font-weight: 500;
}

.tabs:hover{
    background-color: #F9DBD0;
    border: none;
    color: #792000;   
}

.tabs:focus{
    background-color: #fff;
    color:  #D83B01;
}

article{
    background-color: #fff;
    height: auto;
    width: 89%;
    margin: 0 auto;
    margin-top: -25px;
}

.home{
    text-align: center;

}

.tab-header {
    font-size: 37px;
    line-height: 44px;
    text-align: center;
    width: 590px;
    margin: 0 auto 16px;
    padding-top: 72px;
    color: #242424;
}

.tab-subheader {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    width: 582px;
    margin: 20px auto;
    font-family: SegoeUI,Helvetica,Arial,sans-serif;
}

.tab-header-image.tab-header-image--overflow {
    width: 110%;
    margin-left: -5%;
}

.tab-header-image.tab-header-image--overflow {
    width: 110%;
    margin-left: -5%;
}

.highlight {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    text-align:left ;
    align-items: center;
    justify-content: space-between;
}

.highlight {
    margin: 90px auto 0;
    height: 465px;
}


.highlight-text2{
    margin-left: 20px;
}

.highlight-text__header {
    font-size: 29px;
    line-height: 34px;
}

.highlight-text__subheader {
    font-size: 16px;
    line-height: 24px;
}

.highlight-text__animated-link {
    color: #D83B01;
    margin-top: 20px;
}

.animated-link {
    font-family: SegoeUI-SemiBold,Helvetica,Arial,sans-serif;
    cursor: pointer;
    display: inline;
    font-size: 15px;
    text-decoration: none;
}

.animated-link--text {
    border-bottom: 0 solid transparent;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.highlight-text__animated-link {
    color: #D83B01;
    margin-top: 20px;
}

.em{
    border: solid black 1px;
    width: 70%;
    max-width: 450px;
    margin: 10px;
    height: auto;
}

#e{
    border: none;
    background: transparent;
}

#e:focus{
    outline: none;
    background: transparent;
}

button{
    width: 100%;
    align-items: start;
    display: flex;
    background-color: transparent;
}

.arrow{
    border: solid 5px #D83B01;
    background-color: #D83B01;
    position: relative;
    color: #fff;
    margin-bottom: 20px;
    margin-right: 20px;
    height: 30px;
    white-space: nowrap;
    display: inline-block;
    width: 150px;
    height: 35px;
    border-radius: 7px;
    transition: all .05s ease;
    align-items: center;
    cursor: pointer;
}

.arrow:hover{
    background-color:rgb(216, 26, 1) ;
    border-color: rgb(216, 26, 1);
}





@media (max-width: 860px) {


    .links{
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: white;
        top: 70px;
        left: 0;
        right: 0;
        bottom: 0;
        height: 0vh;
        width: 100%;
        overflow: hidden;
        transition: all .5s ease-in-out;
        z-index: 20;
        overflow: scroll;
    }

    .drop{
        height: 40vh;
        transition: all .5s ease-in-out;

    }

    .links li{
        padding: 12px;
        text-align: left;
        border-bottom: solid rgb(160, 160, 160) 1px;
        width: 98%;
    }

    .fa-bars{
        display: flex;
    }

    .b{
        display: none;
    }

    nav img{
        padding: 16px 6px 16px 10px;
        float: left;
        height: 100%;
        margin-top: 1px;
        width: 137px;
        outline-offset: -2px;
        padding-right: 20px;
        border-right: none;
    }

    .message{
        height: 60px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: aliceblue;
        justify-content: center;
        height: 64px;
        background: #D83B01;
        padding: 8px;
        font-size: 11px;
    }

    
    .img img{
        width: 14%;
    }

    .message a{
        color: aliceblue;
        padding-left: 20px;
        font-size: 11px;
    
    }

    .content{
        height: 80vh;
        background-image: url(./image/hero-rebrand-desktop-5dbef93a27.png);
        background-position:top;
        background-repeat: no-repeat;
        background-size: 100% 90%;
        font-family: SegoeUI-SemiBold,Helvetica,Arial,sans-serif;
    }

    .text{
        background-image: linear-gradient(10deg,#f5f5f5 20%,#ffffff00 100%);
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content:end;
        padding: 10px;
    }

    .buy{
        border:none;
        border-radius: 0px;
        margin-left: 0px;
    }

    .btn{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .tabs{
        padding: 20px;
        width: 90%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: #F9DBD0;
        border: none;
        color: #792000;    
        border-radius: 20px 20px 0 0;
        box-shadow: #fff 0 8px 0, rgba(0,0,0,.14) 0 0 8px;
        font-size: 5px;
        height: 15px;
    }

    .tab-header {
        font-size: 27px;
        line-height: 44px;
        text-align: center;
        width: 90%;
        margin: 0 auto 16px;
        padding-top: 72px;
        color: #242424;
    }

    .tab-subheader {
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        width: 90%;
        margin: 20px auto;
        font-family: SegoeUI,Helvetica,Arial,sans-serif;
    }

    .highlight-text2{
        margin-left: 20px;
    }
    
    .highlight-text__header {
        font-size: 16px;
        line-height: 34px;
    }
    
    .highlight-text__subheader {
        font-size: 16px;
        line-height: 24px;
    }

    .highlight-image{
        width: 100%;
    }

    .highlight {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align:left ;
        align-items: center;
        justify-content: space-between;
    }

    .h{
        display: flex;
        flex-direction: column-reverse;
    }

}