*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

a{
    text-decoration: none;
}

html{
    display: flex;
    flex-direction: column;
}

.body{
    display: flex;
    flex-direction: row;
    text-align: center;
    scroll-behavior: smooth;
    height: 100vh;
    justify-content: center;
}

form{
    width: 90%;
    margin: 0 auto;
}

.phone{
    height: auto;
    border: solid 20px black;
    border-radius: 50px;
    border-style: ridge;
    width: 90%;
    margin: 0 auto;
    background-color: black;
}

blockquote{
    display: none;
    
}
blockquote:first-of-type{
    display: block;
    display: flex;
}

.phone img{
    height: 100%;
    width: 100%;
}

.lo{
    border: solid rgb(177, 177, 177) 1px;
    padding: 20px;
}

.o{
    height: 90vh;
}

.logo{
    margin: 30px auto;
}

section{
    color: black;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    max-width: 350px;
    margin: 20px;
}



.username,.password,.login{
    margin: 7px;
    padding: 10px;
    width: 90%;
    max-width: 500px;
    background-color: #f0f0f0;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 5px;
}

input:focus{
    outline:none;
}

.login{
    background-color: rgb(87, 87, 218);
    color: #f0f0f0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
}

.login:hover{
    background-color: blue;
}

.or{
    color: gray;
}

.face a{
    color: rgb(60, 60, 117);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.get{
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.app img{
    width: 40%;
}

.forgot a{
    font-size: 14px;
    color: gray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer ul{
    display: grid;
    grid-template-columns:repeat(7,1fr);
    grid-gap: 10px;
    max-width: 800px;
    grid-template-rows: auto;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    grid-area: auto;
    font-size: 13px;
    color: gray;
    justify-items: center;
    grid-auto-flow:row;
    align-items: center;
    grid-column-start: a;
}

footer ul li{
    width: 100%;
}

@media (max-width:800px) {
    .p{
        display: none;
    }

    footer .a{
        font-size: 10px;
        grid-template-columns: repeat(5,1fr);
    }
}

@media (max-width:450px) {
    .lo{
        border: none;
    }
}
